.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: lightgrey;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-search-item  {
  padding: 10px 24px; /* Some padding */
  width: 50%; /* Set a width if needed */
}

.recipe-search-item img {
  max-width: 50%;
  width: auto;
  border-radius: 8px;
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-search-item img {
  max-width: 50%;
  width: auto;
  border-radius: 8px;
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe img {
  max-width: 50%;
  width: auto;
  border-radius: 8px;
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
